//include normalize
button,
input,
optgroup,
select,
textarea {
    font-family: $font-family-primary;
}

textarea,
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='button'],
input[type='submit'],
input[type='search'],
input[type='password'] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    box-shadow: 0 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='search']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

strong {
    font-weight: 700;
}

button.reset {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1920px;
}

.smooth-scroll {
    height: 100vh;
    overflow: auto;
    width: 100%;
}

.object-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}