.animate-on-scroll,
.fade-on-scroll,
.animate-right,
.animate-left,
.animate-down {
    opacity: 0;

    &.animate {
	animation-duration: 1.5s;
	transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	animation-fill-mode: forwards;
    }
}

.fade-on-scroll.animate {
    animation-name: fadeIn;
}

.animate-on-scroll.animate {
    animation-name: fadeInMoveUp;
}

.animate-right.animate {
    animation-name: fadeRight;
}

.animate-left.animate {
    animation-name: fadeInMoveUp;
    @include media-breakpoint-up(lg){
	animation-name: fadeLeft;
    }
}

.animate-down.animate {
    animation-name: fadeDown;
}

@keyframes fadeIn {
    0% {
	opacity: 0;
    }
    to {
	opacity: 1;
    }
}

@keyframes fadeInMoveUp {
    0% {
	opacity: 0;
	transform: translateY(50px);
	-webkit-backface-visibility: hidden;
    }

    100% {
	opacity: 1;
	transform: translateY(0);
	-webkit-backface-visibility: hidden;
    }
}

@keyframes fadeRight {
    0% {
	opacity: 0;
	transform: translateX(-50px);
	-webkit-backface-visibility: hidden;
    }

    100% {
	opacity: 1;
	transform: translateX(0);
	-webkit-backface-visibility: hidden;
    }
}

@keyframes fadeLeft {
    0% {
	opacity: 0;
	transform: translateX(50px);
	-webkit-backface-visibility: hidden;
    }

    100% {
	opacity: 1;
	transform: translateX(0);
	-webkit-backface-visibility: hidden;
    }
}

@keyframes fadeDown {
    0% {
	opacity: 0;
	transform: translateY(-50px);
	-webkit-backface-visibility: hidden;
    }

    100% {
	opacity: 1;
	transform: translateY(0);
	-webkit-backface-visibility: hidden;
    }
}