.btn {
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.8px;
    color: $white;
    @extend %btn-reset;
    @include media-breakpoint-up(lg) {
	font-size: 18px;
    }

    &-solid {
	&-primary, &-secondary, &-tertiary, &-quaternary {
	    position: relative;
	    width: fit-content;
	    font-size: 16px;
	}

	&-primary {
	    padding: 16px 50px 16px 25px;
	    transition: padding-left .5s;
	    text-align: center;
	    background-color: $gray-800;
	    @include media-breakpoint-down(lg) {
		margin: 0 auto;
	    }

	    &::after {
		content: '';
		width: 60px;
		height: 1.5px;
		@include center(vertical);
		left: auto;
		right: -25px;
		background-image: linear-gradient(to right, $secondary 0, $secondary 35%, $secondary 65%, transparent 100%);
	    }

	    &:hover {
		padding-left: 50px;
	    }
	}

	&-secondary {
	    color: $black;
	    font-weight: 600;
	    letter-spacing: unset;
	    padding: 0 5px 5px;

	    &::after, &::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0;
		bottom: 0;
	    }

	    &::before {
		background-color: $primary;
		transform: scaleX(0);
		z-index: 1;
		transition: transform .5s ease;
	    }

	    &::after {
		background-color: $black;
	    }

	    &:hover {
		&::before {
		    transform-origin: center;
		    transform: scaleX(1);
		}
	    }
	}

	&-tertiary {
	    background-color: transparent;
	    border: 1px solid $white;
	    color: $white;
	    border-radius: 5px !important;
	    letter-spacing: unset;
	    font-weight: 600;
	    padding: 12px;
	}

	&-quaternary {
	    color: $white;
	    background-color: $primary;
	    border: 2px solid $primary;
	    border-radius: 6px !important;
	    padding: 13px 31px 13px 31px;
	    vertical-align: middle;
	    transition: .5s ease;

	    &:hover {
		background-color: $white;
		color: $primary;
	    }
	}
    }

    &-link {
	&-secondary {
	    position: relative;
	    width: fit-content;
	    padding-bottom: 5px;

	    &::after, &::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0;
		bottom: 0;
	    }

	    &::before {
		background-color: $red-500;
		transform: scaleX(0);
		z-index: 1;
		transition: transform .5s ease;
	    }

	    &::after {
		background-color: $white;
	    }

	    &:hover {
		&::before {
		    transform-origin: center;
		    transform: scaleX(1);
		}
	    }
	}
    }

    &-reset {
	@extend %btn-reset;
    }
}