.item {
    &__loading {
	&--wrapper {
	    width: 100%;
	    display: flex;
	    justify-content: center;
	    margin-top: 80px;
	    @include media-breakpoint-up(lg) {
		margin-top: 100px;
	    }
	}

	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: $black;
	color: $black;
	animation: showHideDot 1s infinite linear alternate;
	animation-delay: .5s;

	&::before, &::after {
	    content: '';
	    display: inline-block;
	    position: absolute;
	    top: 0;
	    width: 20px;
	    height: 20px;
	    border-radius: 50%;
	    background-color: $black;
	    color: $black;
	    animation: showHideDot 1s infinite alternate;
	}

	&:before {
	    left: -30px;
	    animation-delay: 0s;
	}

	&::after {
	    left: 30px;
	    animation-delay: 1s;
	}
    }
}

@keyframes showHideDot {
    0% {
	background-color: $black;
    }
    50%,
    100% {
	background-color: rgba($black, 0.1);
    }
}