.nav {
    width: 100%;
    @include media-breakpoint-down(lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__inner {
        display: flex;
        align-items: center;
        overflow: hidden;
        @include media-breakpoint-up(lg) {
            position: relative;
        }

        .dropdown--close {
            @extend %btn-reset;
            position: relative;
            pointer-events: none;

            &::before, &::after {
                content: '';
                height: 2px;
                width: 22px;
                position: absolute;
                right: 0;
                opacity: 0;
                transition: all .5s ease;
                transform: rotate(0);
                background-color: $white-200;
            }

            &.active {
                pointer-events: auto;

                &::before, &::after {
                    opacity: 1;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__logo {
        @include media-breakpoint-up(lg) {
            opacity: 0;
            visibility: hidden;
            margin-right: 80px;
        }
    }

    &__list {
        @include media-breakpoint-down(lg) {
            height: 100vh;
            width: 100%;
            background-color: rgba($blue-600, 0.4);
            position: absolute;
            left: -100%;
            top: 84px;
            z-index: 99;
            padding: 120px 25px 20px;
            transition: all .5s ease;
        }
        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
        }

        &--open {
            @include media-breakpoint-down(lg) {
                left: 0;
                background-color: $blue-600;
            }

            .nav__list {

                &--toggler {
                    @include media-breakpoint-up(lg) {
                        opacity: 0;
                        transform: translateX(-20px);
                        pointer-events: none;
                    }
                }
            }
        }

        &--toggler {
            &:hover {
                &::before {
                    transform: translateY(-50%) rotate(120deg);
                }
            }
        }

        &--link {
            @include media-breakpoint-up(lg) {
                opacity: 0;
                transform: translateX(15px);
                pointer-events: none;
                transition: all .5s ease-in-out;
                &::before {
                    transform: translateY(-50%) rotate(120deg)!important;
                }
            }
        }

        &--dropdown {
            @include media-breakpoint-down(lg) {
                display: none;
                margin-top: 30px;
            }

            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: center;
                position: absolute;
                left: 0;
            }

            a {
                @include media-breakpoint-down(lg) {
                    display: block;
                }

                &:not(:last-of-type) {
                    @include media-breakpoint-down(lg) {
                        margin-bottom: 20px;
                    }
                    @include media-breakpoint-up(lg) {
                        margin-right: 70px;
                    }
                }
            }

            &--open {
                .nav__list--link {
                    animation: slideUp 1s ease forwards;
                    @for $i from 1 through 50 {
                        &:nth-child(#{$i}) {
                            animation-delay: #{$i * 0.2}s;
                        }
                    }
                }
            }
        }

        &--item {
            @include media-breakpoint-down(lg) {
                margin-bottom: 20px;
                width: 100%;
            }

            @include media-breakpoint-up(lg) {
                &:not(:last-of-type) {
                    margin-right: 50px;
                }
                @for $y from 1 through 50 {
                    &:nth-child(#{$y}) {
                        .nav__list--toggler {
                            transition-delay: #{$y * 0.1}s;
                        }
                    }
                }
            }

            a {
                color: $white-200;
                text-transform: uppercase;
                @include media-breakpoint-down(lg) {
                    letter-spacing: 3px;
                }
                @include media-breakpoint-up(lg) {
                    position: relative;
                    left: 35px;
                    margin-top: -20px;
                    transition: all .5s ease;
                    &::before {
                        content: '';
                        @include center(vertical);
                        left: -30px;
                        width: 15px;
                        height: 1px;
                        background-color: $red-500;
                        transition: all .3s ease;
                    }
                    &:hover {
                        color: $red-500;
                    }
                }
            }
        }
    }

    &__toggle {
        @extend %btn-reset;
        width: 30px;
        height: 2px;
        background-color: $white-200;
        position: relative;
        @include media-breakpoint-up(lg) {
            display: none;
        }

        &::before, &::after {
            content: '';
            transition: all .3s ease;
            width: 30px;
            height: 2px;
            background-color: $white-200;
            position: absolute;
            right: 0;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }

        &--active {
            transform: rotate(45deg);

            &::before {
                width: 0;
            }

            &::after {
                top: 0;
                transform: rotate(90deg);
            }
        }
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateX(15px);
        pointer-events: none;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }
}