.header {
    & > .pin-spacer {
	width: 100% !important;
    }

    &__home {
	@include media-breakpoint-up(lg) {
	    position: absolute;
	    left: 0 !important;
	    bottom: 0;
	    z-index: 1;
	}
    }

    &__inner {
	padding: 15px;
	width: 100% !important;
	background-color: rgba($blue-600, 0.6);
	transition: background-color .5s ease;
	@include media-breakpoint-up(lg) {
	    padding: 20px 15px;
	}
	@include media-breakpoint-down(lg) {
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 99;
	}

	&.sidebar--open {
	    background-color: $blue-600;
	}
    }
}