.blogs {
    $blogs: #{&};
    background-color: $primary;
    position: relative;

    &__inner {
	padding: 50px 25px;
	@include media-breakpoint-up(lg) {
	    padding: 120px 100px;
	}

	& > img {
	    position: absolute;
	    top: 0;
	    right: 0;
	}
    }

    &__hero {
	margin-bottom: 60px;
	@include media-breakpoint-up(lg) {
	    margin-bottom: 150px;
	}

	& > h1 {
	    color: $white;
	    font-weight: 600;
	    @include media-breakpoint-up(lg) {
		font-size: 50px;
	    }
	}
    }

    &__articles {
	display: flex;
	flex-direction: column;

	& > a {
	    &:not(:last-of-type) {
		margin-bottom: 45px;
	    }

	    &:hover {
		.article {
		    &__arrow {
			opacity: 1;
			left: 16.4%;
		    }

		    &__wrapper {
			&::before {
			    opacity: 1;
			    left: 15%;
			}

			picture::after {
			    opacity: 1;
			}

			figcaption {
			    p {
				opacity: 0;
			    }

			    h3 {
				transform: translateY(-30px);
			    }
			}
		    }
		}
	    }
	}

	.article {
	    &__wrapper {
		position: relative;
		display: grid;
		@include media-breakpoint-up(lg) {
		    grid-template-columns: repeat(2, 50%);
		    grid-gap: 50px;
		    align-items: center;
		}

		&::before {
		    content: '';
		    background-color: rgba($black, 0.4);
		    border-radius: 50%;
		    width: 64px;
		    height: 64px;
		    position: absolute;
		    top: 50%;
		    left: 3.6%;
		    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
		    transform: translate(0, -50%);
		    z-index: 1;
		    opacity: 0;
		}

		picture {
		    width: 100%;
		    position: relative;
		    overflow: hidden;
		    @include media-breakpoint-down(lg) {
			margin-bottom: 25px;
		    }

		    &::after {
			opacity: 0;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background-color: rgba($black, 0.3);
			transition: .5s ease;
		    }
		}

		img {
		    width: 100%;
		    @include media-breakpoint-up(lg) {
			height: 320px;
		    }
		}

		figcaption {
		    p, h3 {
			color: $white;
			transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
		    }
		}
	    }

	    &__arrow {
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 50%;
		left: 5%;
		transform: translate(0, -50%);
		z-index: 2;
		opacity: 0;
		transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
	    }
	}
    }

    &__loading {
	&--wrapper {
	    width: 100%;
	    display: flex;
	    justify-content: center;
	    margin-top: 80px;
	    @include media-breakpoint-up(lg) {
		margin-top: 100px;
	    }
	}

	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: $black;
	color: $black;
	animation: showHideDot 1s infinite linear alternate;
	animation-delay: .5s;

	&::before, &::after {
	    content: '';
	    display: inline-block;
	    position: absolute;
	    top: 0;
	    width: 20px;
	    height: 20px;
	    border-radius: 50%;
	    background-color: $black;
	    color: $black;
	    animation: showHideDot 1s infinite alternate;
	}

	&:before {
	    left: -30px;
	    animation-delay: 0s;
	}

	&::after {
	    left: 30px;
	    animation-delay: 1s;
	}
    }

    @keyframes showHideDot {
	0% {
	    background-color: $black;
	}
	50%,
	100% {
	    background-color: rgba($black, 0.1);
	}
    }
}