//Hero section
.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    &__inner {
	height: 100%;
	position: relative;
	@extend %full-center;

	& > h1 {
	    @include text(null, 80px, $white, 600, null, null);
	    text-transform: uppercase;
	    @extend %align-center;

	    span {
		font-size: 105px;
		letter-spacing: -2px;
	    }
	}
    }

    &__sidebar{
	@include media-breakpoint-down(lg){
	    display: none;
	}
	height: 100%;
	width: 80px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba($gray-800, 0.6);
	padding: 26px 12px;
    }

    &__coordinates {
	position: absolute;
	top: 30px;

	&::after {
	    content: '';
	    width: 25px;
	    height: 1px;
	    background-color: $red-500;
	    @include center(vertical);
	    left: -40px;
	}

	&--container {
	    position: relative;
	    overflow: hidden;
	    color: rgba($white, 0.9);

	    & > p {
		display: inline-block;
		transition: all .3s ease-in-out;
		letter-spacing: 10px;

		&:first-of-type {
		    margin-right: 25px;
		    @include media-breakpoint-up(lg) {
			margin-right: 50px;
		    }
		}
	    }

	    & > a {
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		transition: all .3s ease-in-out;
		letter-spacing: 10px;
		text-align: center;
	    }

	    &:hover {
		a, p {
		    transform: translateY(-100%);
		}
	    }
	}
    }

    &__background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	&::after {
	    content: '';
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-color: rgba($black, 0.2);
	}
    }
}