//Hero section
.hero {
    $hero: #{&};
    height: 100vh;
    width: 100%;
    overflow: hidden;

    &__inner {
	height: 100%;
	@include media-breakpoint-up(lg) {
	    position: relative;
	}

	#{$hero} {
	    &__image {
		height: 100%;
		position: relative;
		@extend %full-center;
	    }

	    &__video {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	    }

	    &__coordinates {
		@include media-breakpoint-down(lg) {
		    display: none;
		}

		position: absolute;
		top: 30px;

		&::after {
		    content: '';
		    width: 25px;
		    height: 2px;
		    background-color: $red-500;
		    @include center(vertical);
		    left: -40px;
		}

		&--container {
		    position: relative;
		    overflow: hidden;
		    color: rgba($white, 0.9);

		    & > p {
			display: inline-block;
			transition: all .3s ease-in-out;
			letter-spacing: 10px;

			&:first-of-type {
			    margin-right: 25px;
			    @include media-breakpoint-up(lg) {
				margin-right: 50px;
			    }
			}
		    }

		    & > a {
			position: absolute;
			top: 100%;
			width: 100%;
			left: 0;
			transition: all .3s ease-in-out;
			letter-spacing: 10px;
			text-align: center;
		    }

		    &:hover {
			a, p {
			    transform: translateY(-100%);
			}
		    }
		}
	    }

	    &__description {
		@extend %full-center;

		& > h1 {
		    @include text(null, 80px, $white, 600, null, null);
		    text-transform: uppercase;
		    @extend %align-center;
		    margin-bottom: 25px;
		    @include media-breakpoint-down(lg) {
			line-height: 49px;
		    }

		    span {
			font-size: 65px;
			@include media-breakpoint-up(lg) {
			    font-size: 105px;
			    letter-spacing: -2px;
			}
		    }
		}
	    }

	    &__sidebar {
		height: 100%;
		width: 80px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba($blue-600, 0.6);
		padding: 26px 12px;
		@include media-breakpoint-down(lg) {
		    display: none;
		}
	    }

	    &__background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;

		&::after {
		    content: '';
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    background-color: rgba($black, 0.2);
		}
	    }
	}
    }
}

//Posts section
.posts {
    $posts: #{&};
    width: 100%;
    background-color: $blue-600;
    padding: 50px 25px;
    @include media-breakpoint-up(lg) {
	padding: 67px 80px;
    }

    &__inner {
	display: grid;
	@include media-breakpoint-up(lg) {
	    grid-template-columns: repeat(2, 1fr);
	    grid-gap: 5px 90px;
	}

	#{$posts} {
	    &__item {
		@include media-breakpoint-up(lg) {
		    width: 100%;
		    @for $i from 1 through 15 {
			&:nth-child(#{$i}) {
			    animation-delay: #{$i * 0.1}s;
			}
		    }
		}

		&:nth-child(2n+2) {
		    @include media-breakpoint-up(lg) {
			margin-top: 100px;
		    }
		}

		@include media-breakpoint-down(lg) {
		    &:not(:last-of-type) {
			margin-bottom: 50px;
		    }
		}

		a {
		    position: relative;
		    width: 100%;

		    &:hover {
			#{$posts} {
			    &__image {
				box-shadow: 15px 15px 30px rgba($black, 0.3);
				transform: translateY(-10px);
			    }

			    &__background {
				opacity: 1;
				transform: translateY(-10px);
			    }
			}
		    }
		}

		h4, p {
		    color: $white;
		}

		h4 {
		    margin-bottom: 10px;
		    text-transform: capitalize;
		    font-size: 30px;
		}

		p {
		    text-transform: uppercase;
		    font-size: 18px;
		}
	    }

	    &__background {
		width: 90%;
		height: 30%;
		position: absolute;
		right: -45px;
		bottom: 50px;
		z-index: 1;
		background-size: 10px;
		opacity: 0;
		transition: 0.25s ease-in-out;
		@include media-breakpoint-down(lg) {
		    right: -24px;
		    bottom: 58px;
		}
	    }

	    &__image {
		position: relative;
		z-index: 2;
		transition: 0.25s ease-in-out;
		margin-bottom: 30px;
		@include media-breakpoint-up(lg) {
		    width: 100%;
		    object-fit: cover;
		    height: 75vh;
		}
		@include media-breakpoint-between(lg, xxl) {
		    height: 65vh;
		}
	    }
	}
    }
}

//Achievements
.achievement {
    width: 100%;
    position: relative;
    @include media-breakpoint-down(lg) {
	padding: 0 26px 50px;
    }

    &__container {
	@include media-breakpoint-up(lg) {
	    padding-bottom: 120px;
	    overflow: hidden;
	}

	.info__inner {
	    @include media-breakpoint-up(lg) {
		padding-top: 120px;
		padding-bottom: 80px;
	    }
	}
    }

    &__progress {
	display: grid;
	@include media-breakpoint-up(lg) {
	    grid-template-columns: repeat(2, 413px);
	    grid-template-areas: "a ." "b c";
	    margin: 0 auto;
	    max-width: 72%;
	}
	@include media-breakpoint-between(lg, xl) {
	    max-width: 84.5%;
	}

	.progress {
	    &--info {
		padding: 50px;
		@include media-breakpoint-up(lg) {
		    &:nth-child(1) {
			grid-area: a;
		    }
		    &:nth-child(2) {
			grid-area: b;
		    }
		    &:nth-child(3) {
			grid-area: c;
		    }
		}

		h3 {
		    font-weight: 400;
		    margin-bottom: 10px;
		    font-size: 70px;
		    letter-spacing: 2px;
		}

		p {
		    line-height: 1.6;
		}

		h3, p {
		    color: $white;
		}
	    }
	}
    }

    &__image {
	position: absolute;
	top: -159px;
	right: 27px;
	width: 125px;
	z-index: -1;
	@include media-breakpoint-up(lg) {
	    //top: -50px;
	    right: 0;
	    width: 100%;
	    max-width: 450px;
	}
    }
}

//Spare Parts
.spare {
    display: grid;
    background-color: rgba($primary, 0.9);
    overflow: hidden;
    @include media-breakpoint-up(lg) {
	grid-template-columns: 50% 40% 10%;
    }
    @include media-breakpoint-down(lg) {
	grid-template-areas: 'c' 'a' 'b';

	&__img {
	    grid-area: a;
	}
    }

    &__description {
	@extend %justify-center;
	padding: 50px 27px;
	@include media-breakpoint-up(lg) {
	    max-width: 500px;
	    margin: 0 auto;
	    padding: 0 20px;
	}
	@include media-breakpoint-down(lg) {
	    grid-area: b;
	}

	& > h3 {
	    color: $white;
	    margin-bottom: 30px;
	    letter-spacing: 2px;
	    font-weight: 600;
	}

	p {
	    color: rgba($white, 0.7);
	    letter-spacing: 0.4px;
	    line-height: 1.6;
	    position: relative;
	    padding-left: 25px;
	    margin-bottom: 30px;

	    &::before {
		content: '';
		width: 2px;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: $white;
	    }
	}
    }

    &__title {
	padding: 15px;
	background-color: $primary;
	@include media-breakpoint-up(lg) {
	    padding: 25px;
	}
	@include media-breakpoint-down(lg) {
	    grid-area: c;
	}

	& > h2 {
	    font-weight: 600;
	    font-size: 48px;
	    text-align: center;
	    @include media-breakpoint-up(lg) {
		font-size: 5.6vw;
		transform: rotate(90deg);
		display: flex;
		span {
		    margin-left: 15px;
		}
	    }
	}
    }
}

//Partners
.partners {
    $partners: #{&};
    width: 100%;
    position: relative;
    overflow: hidden;

    .info__inner {
	@include media-breakpoint-up(lg) {
	    padding-top: 120px;
	    padding-bottom: 80px;
	}
    }

    &__logo {
	position: absolute;
	top: 40%;
	width: 100%;
	transform: rotate(45deg) scale(3);
	z-index: -1;
	opacity: 0.4;
	@include media-breakpoint-up(lg){
	    top: 50%;
	    right: -170px;
	    transform: rotate(30deg) scale(1.4);
	}
    }

    &__container {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(2, 50%);
	padding: 0 27px;
	@include media-breakpoint-up(lg) {
	    grid-template-columns: repeat(4, 1fr);
	    max-width: 1280px;
	    margin: 0 auto;
	    padding: 0 80px;
	}

	&:hover {
	    #{$partners}__link > img {
		opacity: 0.4;
	    }
	}
    }

    &__link {
	@for $i from 1 through 10 {
	    &:nth-child(#{$i}) {
		animation-delay: #{$i * 0.2}s;
	    }
	}

	&:hover > img {
	    opacity: 1 !important;
	    transform: scale(1.1);
	}

	& > img {
	    transition: all 0.5s;
	    height: 200px;
	}
    }
}