<footer class="footer">
    <div class="footer__inner">
        <div class="footer__container animate-on-scroll">
            <div class="footer__description">
                <a href="#.">
                    <img class="lazy" data-src="./assets/images/svgs/footer-logo.svg"
                         alt="footer-logo" width="276" height="26">
                </a>
                <p>Photography ilia miss uman saten eliten finus vivera alacus miss the drudean seneice miss</p>
            </div>
            <ul class="footer__list">
                <li class="footer__list--item h3">
                    Quick Links
                </li>
                <li class="footer__list--item">
                    <a href="#." class="footer__link">About</a>
                </li>
                <li class="footer__list--item">
                    <a href="/services.html" class="footer__link">Services</a>
                </li>
                <li class="footer__list--item">
                    <a href="#." class="footer__link">Works</a>
                </li>
                <li class="footer__list--item">
                    <a href="#." class="footer__link">Blog</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list--item h3">Contact</li>
                <li class="footer__list--item">
                    <img src="./assets/images/svgs/footer-mobile.svg" alt="mobile-icon">
                    <a href="tel:+11234560606" class="footer__link">+1 123-456-0606</a>
                </li>
                <li class="footer__list--item">
                    <img src="./assets/images/svgs/footer-email.svg" alt="email-icon">
                    <a href="mailto:info@phoxel.com" class="footer__link">info@phoxel.com</a>
                </li>
                <li class="footer__list--item">
                    <img src="./assets/images/svgs/footer-location.svg" alt="locator-icon">
                    <a href="#." class="footer__link">120 King St. Charleston SC 29401, USA</a>
                </li>
            </ul>
        </div>
        <div class="footer__credentials animate-on-scroll">
            <p>Copyright &copy; 2022 by DuruThemes, All right reserved.</p>
            <div class="footer__links">
                <a href="#.">
                    <img src="./assets/images/svgs/facebook.svg"
                         alt="facebook-icon" width="15" height="15">
                </a>
                <a href="#.">
                    <img src="./assets/images/svgs/twitter.svg"
                         alt="twitter-icon" width="15"  height="15">
                </a>
                <a href="#.">
                    <img src="./assets/images/svgs/linkedin.svg"
                         alt="linkedin-icon" width="15"  height="15">
                </a>
            </div>
        </div>
    </div>
</footer>