<header class="header">
    <div class="header__inner {{#ifpage 'index'}}header__home{{/ifpage}} {{#unlesspage 'index'}}header__main{{/unlesspage}} fade-on-scroll">
        <nav class="nav">
            <div class="nav__inner">
                <a href="/" class="nav__logo">
                    <img class="object-cover" src="./assets/images/svgs/sidebar-logo.svg" alt="Side Logo">
                </a>
                <ul class="nav__list">
                    <!--If you want to use title as link, remove 'dropdown--toggle' class-->
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler dropdown--toggle">Products</a>
                        <div class="nav__list--dropdown">
                            <a href="#." class="nav__list--link">DIESEL GENERATORS (1500rpm)</a>
                            <a href="#." class="nav__list--link">DIESEL GENERATORS (3000rpm)</a>
                            <a href="#." class="nav__list--link">ELECTRICAL PANELS</a>
                            <a href="#." class="nav__list--link">METAL BOXES</a>
                            <a href="#." class="nav__list--link">ELECTRONICS</a>
                        </div>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler dropdown--toggle">SERVICES</a>
                        <div class="nav__list--dropdown">
                            <a href="#." class="nav__list--link">MAINTENANCE OF DIESEL GENERATORS</a>
                            <a href="#." class="nav__list--link">REPAIR OF DIESEL GENERATORS</a>
                            <a href="#." class="nav__list--link">INSTALLATION, INSTALLATION, AUTOMATION</a>
                            <a href="#." class="nav__list--link">PROFESSIONAL ADVICE</a>
                            <a href="#." class="nav__list--link">TECHNICAL SUPPORT</a>
                        </div>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler">Sale and leasing on credit</a>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler dropdown--toggle">Spare parts</a>
                        <div class="nav__list--dropdown">
                            <a href="#." class="nav__list--link">filters</a>
                            <a href="#." class="nav__list--link">oils</a>
                            <a href="#." class="nav__list--link">Antifreeze</a>
                            <a href="#." class="nav__list--link">Batteries</a>
                            <a href="#." class="nav__list--link">Electronics</a>
                            <a href="#." class="nav__list--link">ENGINE DETAILS</a>
                            <a href="#." class="nav__list--link">Other</a>
                        </div>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler dropdown--toggle">About us</a>
                        <div class="nav__list--dropdown">
                            <a href="#." class="nav__list--link">Story</a>
                            <a href="#." class="nav__list--link">Gallery</a>
                            <a href="#." class="nav__list--link">Cooperation</a>
                            <a href="#." class="nav__list--link">Blog</a>
                        </div>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler">Partners</a>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler">Achievements</a>
                    </li>
                </ul>
                <button class="dropdown--close"></button>
            </div>
            <button class="nav__toggle"></button>
        </nav>
    </div>
</header>