<header class="header">
    <div class="header__inner">
        <nav class="nav">
            <div class="nav__inner">
                <a href="/" class="nav__logo">
                    <img class=" object-cover" src="./assets/images/svgs/sidebar-logo.svg" alt="Side Logo">
                </a>
                <ul class="nav__list">
                    <!--If you want to use title as link, remove 'dropdown--toggle' class-->
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler dropdown--toggle">HERO</a>
                        <div class="nav__list--dropdown">
                            <a href="#." class="nav__list--link">Link 1</a>
                            <a href="#." class="nav__list--link">Link 1</a>
                            <a href="#." class="nav__list--link">Link 1</a>
                        </div>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler dropdown--toggle">HERO</a>
                        <div class="nav__list--dropdown">
                            <a href="#." class="nav__list--link">Link 2</a>
                            <a href="#." class="nav__list--link">Link 2</a>
                            <a href="#." class="nav__list--link">Link 3</a>
                        </div>
                    </li>
                </ul>
                <button class="dropdown--close"></button>
            </div>
            <button class="nav__toggle"></button>
        </nav>
    </div>
</header>