<header class="header">
    <div class="header__inner {{#ifpage 'index'}}header__home{{/ifpage}} {{#unlesspage 'index'}}header__main{{/unlesspage}}">
        <nav class="nav">
            <div class="nav__inner">
                <a href="/" class="nav__logo">
                    <img class="object-cover" src="./assets/images/svgs/sidebar-logo.svg" alt="Side Logo">
                </a>
                <ul class="nav__list">
                    <li class="nav__list--item menu-item-has-children">
                        <a href="#." class="nav__list--toggler">Products</a>
                        <ul class="nav__list--dropdown">
                            <li class="nav__list--link">
                                <a href="#.">DIESEL GENERATORS (1500rpm)</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">DIESEL GENERATORS (3000rpm)</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">ELECTRICAL PANELS</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">METAL BOXES</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">ELECTRONICS</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__list--item menu-item-has-children">
                        <a href="#." class="nav__list--toggler">SERVICES</a>
                        <ul class="nav__list--dropdown">
                            <li class="nav__list--link">
                                <a href="#.">MAINTENANCE OF DIESEL GENERATORS</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">REPAIR OF DIESEL GENERATORS</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">INSTALLATION, INSTALLATION, AUTOMATION</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">PROFESSIONAL ADVICE</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">TECHNICAL SUPPORT</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler">Sale and leasing on credit</a>
                    </li>
                    <li class="nav__list--item menu-item-has-children">
                        <a href="#." class="nav__list--toggler">Spare parts</a>
                        <ul class="nav__list--dropdown">
                            <li class="nav__list--link">
                                <a href="#.">filters</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">oils</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">Antifreeze</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">Batteries</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">Electronics</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">ENGINE DETAILS</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">Other</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__list--item menu-item-has-children">
                        <a href="#." class="nav__list--toggler">About us</a>
                        <ul class="nav__list--dropdown">
                            <li class="nav__list--link">
                                <a href="#.">Story</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">Gallery</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">Cooperation</a>
                            </li>
                            <li class="nav__list--link">
                                <a href="#.">Blog</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler">Partners</a>
                    </li>
                    <li class="nav__list--item">
                        <a href="#." class="nav__list--toggler">Achievements</a>
                    </li>
                    <li class="d-lg-none" id="mob-nav"></li>
                </ul>
                <button class="dropdown--close"></button>
            </div>
            <div class="header__lang">
                <div class="lang-wrapper" id="lang-wrapper">
                    <div class="sl-nav">
                        <ul class="languages">
                            <li>
                                <span>ENG</span>
                                <img class="menu-arrow" src="./assets/images/svgs/chevron-down-white.svg">
                                <ul class="sub-lang">
                                    <li>
                                        <a href="#.">
                                            <span>ARM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#.">
                                            <span>RUS</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="nav__toggle"></button>
        </nav>
    </div>
</header>