<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    <main id="main-content" class="wrapper">
        <!-- Main -->
        <div class="page smooth-scroll" id="scroll-container">
            <!-- Header -->
                {{> header }}
            <div class="page--wrapper">
                {{> body }}
            </div>
            <!-- footer -->
            {{> footer }}
        </div>
    </main>
    <!-- JS -->
    <script src="./assets/js/custom.min.js"></script>
</body>
</html>
