<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    <main>
        <!-- Main -->
        <div class="page-content fade-on-load">
            <!-- Header -->
            {{#unlesspage '404'}}
                {{> header }}
            {{/unlesspage}}

            {{> body }}

            <!-- footer -->
            {{#unlesspage '404'}}
                {{> footer }}
            {{/unlesspage}}
        </div>
    </main>
    <!-- JS -->
    <script src="./assets/js/custom.min.js"></script>
</body>
</html>
